[net]
# Testing
batch=1
subdivisions=1
# Training
# batch=64
# subdivisions=16
width=832
height=832
channels=3
momentum=0.9
decay=0.0005
angle=0
saturation = 1.5
exposure = 1.5
hue=.1

learning_rate=0.001
burn_in=1000
max_batches = 500200
policy=steps
steps=400000,450000
scales=.1,.1

#input
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky

#Res-block - downsampling 1-1 1
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=64
size=3
stride=2
pad=1
activation=leaky
[shortcut]
from=-3
activation=leaky

#Res-block - normal 2-1 2
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky
[shortcut]
from=-3
activation=leaky
#Res-block - downsampling 2-2 3
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=64
size=3
stride=2
pad=1
activation=leaky
[shortcut]
from=-3
activation=leaky

#Res-block - normal 3-1 4
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky
[shortcut]
from=-3
activation=leaky
#Res-block - normal 3-2 5
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky
[shortcut]
from=-3
activation=leaky
#Res-block - normal 3-3 6
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky
[shortcut]
from=-3
activation=leaky
#Res-block - normal 3-4 7
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky
[shortcut]
from=-3
activation=leaky
#Res-block - normal 3-5 8
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky
[shortcut]
from=-3
activation=leaky
#Res-block - normal 3-6 9
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky
[shortcut]
from=-3
activation=leaky
#Res-block - normal 3-7 10
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky
[shortcut]
from=-3
activation=leaky
#Res-block - downsampling 3-8 11
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=64
size=3
stride=2
pad=1
activation=leaky
[shortcut]
from=-3
activation=leaky

#Res-block - normal 4-1 12
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky
[shortcut]
from=-3
activation=leaky
#Res-block - normal 4-2 13
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky
[shortcut]
from=-3
activation=leaky
#Res-block - normal 4-3 14
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky
[shortcut]
from=-3
activation=leaky
#Res-block - normal 4-4 15
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky
[shortcut]
from=-3
activation=leaky
#Res-block - normal 4-5 16
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky
[shortcut]
from=-3
activation=leaky
#Res-block - normal 4-6 17
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky
[shortcut]
from=-3
activation=leaky
#Res-block - normal 4-7 18
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky
[shortcut]
from=-3
activation=leaky
#Res-block - downsampling 4-8 19
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=64
size=3
stride=2
pad=1
activation=leaky
[shortcut]
from=-3
activation=leaky

#Res-block - normal 5-1 20
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky
[shortcut]
from=-3
activation=leaky
#Res-block - normal 5-2 21
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky
[shortcut]
from=-3
activation=leaky
#Res-block - downsampling 5-3 22
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=64
size=3
stride=2
pad=1
activation=leaky
[shortcut]
from=-3
activation=leaky

#MFCAM 
#TODO: what is H W C?
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

[avgpool]

[connected]
output= 4 #64/16, r=16
activation=leaky
batch_normalize=1

[connected]
output= 64
activation=leaky
batch_normalize=1

#TODO: need to implement a multiplication layer
[route]
layers=-4

#TODO: probably sigmoid activation
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky 

[shortcut]
from=-6

[maxpool]
size=5
stride=1
padding=4

[route]
layers=-2

[maxpool]
size=9
stride=1
padding=8

[route]
layers=-4

[maxpool]
size=13
stride=1
padding=12

[route]
layers=-1,-3,-5

#detecion 1
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

#detection head here
[route]
layers=-1

[route]
layers=-2

[upsample]
stride=2

[route]
layers=-1,-27

#detecion 2
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

#detection head here
[route]
layers=-1

[route]
layers=-2

[upsample]
stride=2

[route]
layers=-1,-56

#detecion 3
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

#detection head here
[route]
layers=-1

[route]
layers=-2

[upsample]
stride=2

[route]
layers=-1,-85

#detecion 4
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

#detection head here
[route]
layers=-1

[route]
layers=-2

[upsample]
stride=2

[route]
layers=-1,-96

#detecion 5
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

#detection head here
[route]
layers=-1




#one rs-block in resnet
# [convolutional] #0 conv     32       3x3/ 1    416x416x3 ->  416x416x32
# batch_normalize=1
# filters=32
# size=3
# stride=2
# pad=1
# activation=leaky

# # Downsample

# [convolutional]#6
# batch_normalize=1
# filters=64
# size=1
# stride=1
# pad=1
# activation=leaky

# [convolutional]#7
# batch_normalize=1
# filters=64
# size=3
# stride=1
# pad=1
# activation=leaky

# [convolutional]#8
# batch_normalize=1
# filters=256
# size=1
# stride=1
# pad=1
# activation=linear

# [shortcut]#9
# from=-4
# activation=leaky

# [convolutional]#10
# batch_normalize=1
# filters=64
# size=1
# stride=1
# pad=1
# activation=leaky

# [convolutional]#11
# batch_normalize=1
# filters=64
# size=3
# stride=1
# pad=1
# activation=leaky

# [convolutional]#12
# batch_normalize=1
# filters=256
# size=1
# stride=1
# pad=1
# activation=linear

# [shortcut]#13
# from=-4
# activation=leaky

# [convolutional]#14
# batch_normalize=1
# filters=128
# size=1
# stride=1
# pad=1
# activation=leaky

# [convolutional]#15
# batch_normalize=1
# filters=128
# size=3
# stride=2
# pad=1
# activation=leaky

# [convolutional]#16
# batch_normalize=1
# filters=512
# size=1
# stride=1
# pad=1
# activation=linear

# [shortcut]#17
# from=-4
# activation=leaky